/* =========================
   DASHBOARD
========================= */

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.dashboard {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}


/* Carte capteur */

.sensor-card {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background: var(--card);
    border: 1px solid var(--border);
    box-shadow: 0 0 10px var(--shadow);
}


.room {
    color: var(--room-color);
    font-weight: bold;
    font-size: 20px;
}


.type {
    color: var(--type-color);
}


.value {
    font-size: 22px;
    font-weight: bold;
    color: var(--value-color);
}


/* Titre dashboard */

.title {
    text-align: center;
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
}



/* =========================
   LOGIN
========================= */


.login-page {
    min-height: 100vh;
    background: #245586;
}


.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    background: #103853;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.top-header h1 {
    color: white;
    margin: 0;
    font-size: 38px;
}



.login-card {

    width: 350px;
    padding: 35px;

    background: white;

    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow:0 10px 25px rgba(0,0,0,0.25);
}


.login-card h2 {
    text-align:center;
}


input {

    padding:12px;

    border-radius:8px;

    border:1px solid #cbd5e1;

    font-size:16px;
}



button {

    padding:12px;

    border:none;

    border-radius:8px;

    background:#0284c7;

    color:white;

    cursor:pointer;

    font-size:16px;
}



button:hover {
    opacity:0.85;
}


.register-button {
    background:#16a34a !important;
}



/* =========================
   CAPTEUR FORMULAIRE
========================= */


.sensor-form {

    background:white;

    width:350px;

    margin:30px auto;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.2);

}


.sensor-form input {

    width:90%;

    margin:8px;

}


.sensor-form button {

    margin-top:15px;

}



/* =========================
   BOUTONS
========================= */


.logout {

    position:absolute;

    top:20px;

    right:20px;

    padding:10px 20px;

    background:#dc2626;
}



.delete-button {

    margin-top:15px;

    padding:10px 20px;

    background:#dc2626;

}

